.cartItem{
    display: flex;
    gap: 10px;
    background-color: grey;
    padding: 0.5rem;
    width: 30%;
}
.cartItem div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.cartItem img{
    height: 250px;

    width: 180px;
    
    object-fit: cover;
}
.cartItem h3{
    color: white;
    font-size: 30px;
}

.cartItem span {
    color: white;
    font-weight: bold;
    font-size: 22px;
}

/* Empty cart styles */
.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 1rem;
}
.empty img{
    width: 30%;
}


@media screen and (min-width : 350px) and (max-width: 400px){
    .empty img{
        width: 60%;
    }
    .empty{
        margin-bottom: 320px;
    }
    .cartItem{
        display: flex;
        gap: 10px;
        background-color: grey;
        padding: 0.5rem;
        width: 80%;
    }
    .cartItem img{
        height: 200px;
    
        width: 130px;
        
        object-fit: cover;
    }
}

@media screen and (min-width: 402px) and (max-width: 540px){
    .empty img{
        width: 60%;
    }
    .empty{
        margin-bottom: 353px;
    }
    .cartItem{
        display: flex;
        gap: 10px;
        background-color: grey;
        padding: 0.5rem;
        width: 80%;
    }
    .cartItem img{
        height: 200px;
    
        width: 130px;
        
        object-fit: cover;
    }
}