*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
}
.Title{
    padding: 10px;
    
}
.Title h1{
     font-size: 40px;
}
.navbar{
    margin-top: 20px;
    padding-right: 5px;
}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    
    
}
.navbar a:hover{
    color: red;

}
.navbutt{
    padding: 10px;
}
.navbutt button{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;

}

.counter{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 15px;
}
 .counter button{
        padding: 15px;
        background-color: rgb(144, 0, 255);
        width: 300px;
        color: white;
        font-weight: bold;
}
.counter button:active{
    background-color: black;
}
.counter1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.counter1 h2{
    margin-top: 10px;
}
.counter1 button{
    padding: 7px;
    background-color: black;
    color: white;
    margin: 15px ;
    width: 60%;
}
.counter1 button:hover{
    background-color: violet;
}

