*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
}
.Title{
    padding: 10px;
    
}
.Title h1{
     font-size: 45px;
     font-family:'Bebas Neue', cursive;
}
.navbar{
    margin-top: 20px;
    padding-right: 5px;
}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    
    
}
.navbar a:hover{
    color: red;

}
.navbutt{
    padding: 10px;
}
.navbutt button{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;

}

.counter{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    padding: 15px;
}
 .counter button{
        padding: 10px;
        background-color: rgb(144, 0, 255);
        width: 150px;
        color: white;
        font-weight: bold;
}
.counter button:active{
    background-color: black;
}
.counter1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.counter1 h2{
    margin-top: 10px;
}
.counter1 button{
    padding: 7px;
    background-color: black;
    color: white;
    margin: 15px ;
    width: 60%;
}
.counter1 button:hover{
    background-color: violet;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px black solid;
    border-radius: 10px;
}
.card button{
    padding: 7px 14px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.card-1 h3{
    margin-right: 40px;
}

.flex-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1000px;
    margin-left: 100px;
    margin-top: 50px;
}
.boton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.boton button{
        padding: 10px 14px;
        border-radius: 15px;
        background-color: bisque;
        font-size: 18px;
        margin-right: 10px;   
}
.btn:hover{
       background-color: red;
       color: white;
}

.detail{
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 20px;
    margin-top: 50px;

}
.detail img{
    width: 300px;
    border-radius: 15px;
}

.detail-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 300px;
}

.detail-card h2{
    font-size: 35px;
    font-weight: bolder;
    text-transform: capitalize;
}
.detail-card span{
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 15px;
}
.detail-card label{
    text-transform: uppercase;
    margin-top: 20px;
}
.detail-card select{
    width: 140px;
    padding: 10px;
    
    border-radius: 10px;
}

.description{
    margin-top: 15px;
}
.description h3{
     font-size: 18px;

}
.description p{
    text-align: justify;
}

/* Contact styles --------------------------------*/

.forms{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    border-radius: 20px;
    gap: 150px;
    margin-left: 50px;
}
.forms img{
    width: 400px;
    margin-bottom: 20px;
    margin-top: 25px;
    
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
}
.form input{
    padding: 10px 5px;
    border-radius: 12px;
    border: none;
    background-color: lightgray;
    margin-bottom: 15px;
}
.form textarea{
    border-radius: 12px;
    background-color: lightgray;
}
.submit{
    padding: 10px 9px;
    border-radius: 12px;
    background-color: blueviolet;
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
}

/* Home page----------------------- */
.intro{
    display: flex;
    justify-content: center;
    gap: 150px;
    width: 850px;
    border-radius: 18px;
    margin-left: 150px;
    margin-top: 100px;
    
}

.intro img{
    width: 600px;
}

.intro-2 h2{
    font-size: 40px;
    font-weight: bolder;
    text-align: start;
    margin-right: 10px;
    margin-bottom: 20px;
    
}
.intro-2 p{
    font-size: 20px;
    text-align: justify;
    margin-right: 20px;
    margin-bottom: 50px;
   
    
}
.intro-2 button{
    padding: 10px 7px;
    background-color: red;
    color: white;
    font-size: 18px;
    border-radius: 15px;
    width: 200px;
    
}
